body { 
        background-image: url("https://estag.fimagenes.com/imagenesred/11130158.jpg");
        background-repeat: no-repeat;
        opacity: '1';

    }

body{
    font-style: italic;
    
   
}

body { color: rgb(8, 8, 8); }
